# Bodhi App OAuth Client
# Register your app at https://developer.getbodhi.app to obtain a client id.
VITE_BODHI_APP_CLIENT_ID=

# Optional. Defaults to production auth server.
# Development auth server:
# VITE_BODHI_AUTH_SERVER_URL=https://main-id.getbodhi.app/realms/bodhi
# Production auth server:
# VITE_BODHI_AUTH_SERVER_URL=https://id.getbodhi.app/realms/bodhi
