# Bodhi Test Account Credentials (for Keycloak authentication)
BODHIAPP_CLIENT_ID=
BODHIAPP_CLIENT_SECRET=
BODHIAPP_USERNAME=
BODHIAPP_USERID=
BODHIAPP_PASSWORD=
BODHIAPP_AUTH_URL=https://main-id.getbodhi.app
BODHIAPP_AUTH_REALM=bodhi
OPENAI_API_KEY=
